<div class="rnk-actor-tracker">
  <div class="rnk-actor-tracker-inner">
    <div class="rnk-actor-name">{{name}}</div>
    <div class="rnk-actor-hp-dots">
      {{#each points}}
        <span class="hp-dot {{#if filled}}filled{{else}}empty{{/if}}" title="{{#if filled}}Hero Point{{else}}Empty{{/if}}"></span>
      {{/each}}
    </div>
    <div class="rnk-actor-controls">
      {{#if canManage}}
        <button class="rnk-hp-add" data-actor-id="{{actorId}}">{{localize "rnk-hero-forge.actorTracker.add"}}</button>
      {{/if}}
      {{#if canSpend}}
        <button class="rnk-hp-spend" data-actor-id="{{actorId}}">{{localize "rnk-hero-forge.actorTracker.spend"}}</button>
      {{/if}}
      {{#if canManage}}
        <button class="rnk-hp-set-max" data-actor-id="{{actorId}}">{{localize "rnk-hero-forge.actorTracker.setMax"}}</button>
      {{/if}}
    </div>
  </div>
</div>
