<div class="ragnaroks-actor-tracker">
  <div class="ragnaroks-actor-tracker-inner">
    <div class="ragnaroks-actor-name">{{name}}</div>
    <div class="ragnaroks-actor-hp-dots">
      {{#each points}}
        <span class="hp-dot {{#if filled}}filled{{else}}empty{{/if}}" title="{{#if filled}}Hero Point{{else}}Empty{{/if}}"></span>
      {{/each}}
    </div>
    <div class="ragnaroks-actor-controls">
      {{#if canEdit}}
        <button class="ragnaroks-hp-add" data-actor-id="{{actorId}}">+ Add</button>
        <button class="ragnaroks-hp-spend" data-actor-id="{{actorId}}">Spend</button>
        <button class="ragnaroks-hp-set-max" data-actor-id="{{actorId}}">Set Max</button>
      {{/if}}
    </div>
  </div>
</div>
