<div class="ragnaroks-hero-bonus-card">
  <div class="ragnaroks-hero-card-header">
    {{#if speakerImg}}
      <a class="ragnaroks-hero-card-actor" data-actor-id="{{actorId}}"><img src="{{speakerImg}}" class="ragnaroks-hero-card-img" /></a>
    {{/if}}
    <div class="ragnaroks-hero-card-title">{{speakerName}} spent {{points}} hero point{{#unless isOne}}s{{/unless}}</div>
  </div>
  <div class="ragnaroks-hero-card-body">
    {{#if formula}}
      <div>Rolled: <strong>{{formula}}</strong> = <strong>{{bonus}}</strong></div>
    {{else}}
      <div>Bonus: <strong>+{{bonus}}</strong></div>
    {{/if}}
  </div>
</div>
